 <div class="nav-cont container-fluid fixed-top bg-dark">
   {{!-- <div class="container"> --}}
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/work-dashboard"><img class="logo" src="images/site/logo.svg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="searchForm" action="/">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control mr-sm-2 searchBox ml-3" type="search" placeholder="Search jobs"
                  aria-label="Search">
            </form>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="rightButton">
            <a href="/add-project" class="postBtn">Post a Work</a>
          </div>

        <div class="notidropdown mr-4" onclick="showNotiFunction('{{user._id}}')">
            {{!-- <i class="fal fa-bell notiBtn mr-0"></i>{{#if notiEmpty}}<span class="mr-3"></span>{{else}}<sup><span id="notiCount" class="mr-3 notiCount">{{notiCount}}</span></sup>{{/if}} --}}
            
            <i class="fal fa-bell notiBtn mr-0"></i>
            <span class="badge" id="notiCount">{{#if (eq notiCount 0)}}{{else}}{{notiCount}}{{/if}}</span>
            <div id="mynotiDropdown" class="notidropdown-content">
                
                {{#each notification}}

                <a href="{{this.url}}">
                  <div class="container noti-item">
                      <div class="row">
                          <div class="col-2 pt-1">
                              <i class="far fa-bell mr-3" style="font-size: 20px;"></i>
                          </div>
                          <div class="col-10">
                              <p class="mb-0">{{this.message}}</p>
                          </div>
                      </div>
                  </div>
                </a>

                {{/each}}

                {{#if (eq notiCount 0)}}
                <div class="container w-100 h-100">
                    <div class="row">
                      <div class="col d-flex justify-content-center">
                          <img src="/images/site/noti-empty.jpg" height="150px" width="150px">
                      </div>
                      <p class="text-center w-100 mb-4" style="color: #003049;">No new notifications</p>
                    </div>
                </div>
                
                {{/if}}


          </div>
        </div>
          
          
        </form>
          <div class="dropdown">
            <a href="/profile" class="dropbtn">{{#if user.propic}}<img id="headerPropic" class="profileImg" src="images/profile-pics/{{user._id}}.jpg" class="postBtn">{{else}}<img id="headerPropic" class="profileImg" src="images/site/default.jpg" class="postBtn">{{/if}}</a>
             <div class="dropdown-content">
                  <a id="header-userName" href="#" class="userName"><i class="fas fa-user-circle mr-2"></i>{{user.name}}</a>
                  <a href="/signout"><div class="signOutBtn">Sign out<i class="far fa-sign-out-alt ml-2"></i></div></a>
            </div>
        </div>
      </div>
    </nav>
    {{!-- </div> --}}
  </div>


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function showNotiFunction(id) {
  document.getElementById("mynotiDropdown").classList.toggle("show");

  sayHi(id)
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.notiBtn')) {
    var dropdowns = document.getElementsByClassName("notidropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>



