

  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/browse-project">Browse Project</a>
      <a class="p-2" href="/">Browse Contest</a>
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">$10</span>
    </div>

  </div>

  <!-- Home starts -->



    <div class="container">
      <div class="row">

        <!-- SIDE BAR RIGHT -->

        <div class="col-md-3" style="margin-top:20px">

          <div class="holder project-contest">

            <!-- FILTER -->

            <div class="card card-custom " style="width: 100%;">
              
              <div class="card-body">

                <span class="filterHead"><i class="far fa-filter"></i>Filters</span>

                <div class="line mt-2"></div>

                <p class="subTitle mt-3 pColor">Skills type</p>

                

                <!-- ///////////////  SEARCH SKILLS  ////////////////// -->


                <div class="container p-0">

                  <div class="row  mt-2">
                    <form class="w-100" action="">
      
                      <div class="container">
      
                        <!-- SKILLS -->
      
                        <div class="select-box">
                          <div class="options-container active">
                            
                            {{#each skills}}
                            <div class="option">
                              <input type="checkbox" class="radio" id="{{this.code}}" name="skills" value={{this.code}}/>
                              <label for="{{this.code}}">{{this.name}}</label>
                            </div>
                            {{/each}}
      
                           
                          </div>
      
      
      
                          <div class="search-box">
                            <input type="text" placeholder="Start Typing..." />
                          </div>
                        </div>
                      </div>
      
                  </div>
                  <!-- SKILLS END -->
      
                  <button class="mt-2 w-100 applyBtn" type="submit" value="Submit">Apply</button>
      
      
                  </form>
                </div>
                



                <!-- ////////////////////////////////////// -->

              </div>
            </div>

            <!-- Filter End -->


            <!-- Amount Filter -->
            <div class="card card-custom " style="width: 100%;">
              
              <div class="card-body">

                <p class="subTitle mt-2 pColor">Reward Amount</p>

                <div class="skill-select ml-2">
                    <input type="checkbox" id="skill1" name="skill1" value="Bike">
                    <label class="ml-1" for="skill1"> Below $100</label><br>
                    <input type="checkbox" id="skill2" name="skill2" value="Car">
                    <label class="ml-1" for="skill2"> $100 - $500</label><br>
                    <input type="checkbox" id="skill3" name="skill3" value="Boat">
                    <label class="ml-1" for="skill3"> $500 - $1000</label><br>
                    <input type="checkbox" id="skill4" name="skill4" value="Boat">
                    <label class="ml-1" for="skill4"> Above $1000</label><br>
                    
                </div>

              </div>
            </div>

            <!-- Amount ends -->


            
            <!-- Amount ends -->
            

          </div>


        </div>
        <!-- SIDE BAR ENDS -->

        <div class="col-md-9">

          <div class="container wrapper">
            <h1 class="windowHeading"><i class="fas fa-list-ul"></i>Browse Projects</h1>
          </div>

        
        {{#each projects}}
          <!-- Project card 1 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">
              <div class="container">

                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">{{this.pheading}}</span>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end align-items-start">
                    <a class="heartBtn" href="#"><i class="fal fa-heart"></i></a>
                  </div>
                </div>

                <div class="row">
                    <div class="skills-list">
                        {{#each skillsArray}}
                        <span>{{this.name}}</span>
                        {{/each}}
                    </div>
                </div>


                <div class="row">
                  <div class="col-sm-9">
                    <span class="descTxt"><p>{{this.pdetails}}</p></span>
                  </div>
                  <div class="d-flex col-sm-3 justify-content-end align-items-end amount">
                      <h4>₹{{this.amount}}</h4>
                  </div>
                </div>


                <div class="row">
                  <div class="col">
                    <span class="bidsCount"><p> <i class="fas fa-user-plus"></i><strong>32</strong> Bids</p></span>
                  </div>

                  <a class="learnmoreBtn" href="/project-details?id={{this._id}}&hId={{this.host}}&skills={{this.skills}}">Learn more <i class="fas fa-angle-double-right ml-1"></i></a>
                </div>

              </div>
            </div>
          </div>
        {{/each}}
          <!-- Card ends here -->


          
          

        </div>
        <!-- COLUMN 9 ends here -->

        

      </div>
    </div>





  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>




