{{#each projects}}
          <!-- Project card 1 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">
              <div class="container">

                <div class="row">
                  <div class="col-8">
                    <span class="proTitle">{{this.pheading}}</span>
                  </div>
                  <div class="d-flex col-4 justify-content-end align-items-start">
                    {{#if this.saved}}
                     <button id="save{{this._id}}" class="heartBtn text-center p-1 d-none" onclick="saveProject('{{this._id}}')"><i class="fal fa-heart-circle"></i></button>
                    <button id="unsave{{this._id}}" class="heartBtn text-center p-1" onclick="unsaveProject('{{this._id}}')"><i class="fas fa-heart-circle" style="color: #003049;"></i></button>
                    {{else}}
                    <button id="save{{this._id}}" class="heartBtn text-center p-1" onclick="saveProject('{{this._id}}')"><i class="fal fa-heart-circle"></i></button>
                    <button id="unsave{{this._id}}" class="heartBtn text-center p-1 d-none" onclick="unsaveProject('{{this._id}}')"><i class="fas fa-heart-circle" style="color: #003049;"></i></button>
                    {{/if}}
                    
                  </div>
                </div>

                <div class="row">
                    <div class="skills-list">
                        {{#each skillsArray}}
                        <span>{{this.name}}</span>
                        {{/each}}
                    </div>
                </div>


                <div class="row">
                  <div class="col-sm-9">
                    <span class="descTxt"><p>{{this.pdetails}}</p></span>
                  </div>
                  <div class="d-flex col-sm-3 justify-content-end align-items-end amount">
                      <h4>₹{{this.amount}}</h4>
                  </div>
                </div>


                <div class="row">
                  <div class="col">
                    <span class="bidsCount"><p> <i class="fas fa-user-plus"></i><strong>
                      {{this.bidCount}}
                    </strong> Bids</p></span>
                  </div>

                  <a class="learnmoreBtn" href="/project-details?id={{this._id}}&hId={{this.host}}&skills={{this.skills}}">Learn more <i class="fas fa-angle-double-right ml-1"></i></a>
                </div>

              </div>
            </div>
          </div>
        {{/each}}
          <!-- Card ends here -->
