<!-- Second Nav -->
<div class="container-fluid d-flex secNav">
  <div class="mr-auto p-2 l-links">

    <a class="p-2" href="/browse-project">Browse Project</a>
    {{!-- <a class="p-2" href="/">Browse Contest</a> --}}
    <a class="p-2" href="/">Freelancers</a>

  </div>
  <div class="p-2 r-link">
    <i class="fal fa-wallet"></i><span>Wallet:</span>
    <span class="bal">$10</span>
  </div>

</div>

<!-- Home starts -->

<div class="container mt-4">
  <h1 class="windowHeading"><i class="fal fa-tasks-alt mr-3"></i>Dashboard <span id="dash-heading" style="color: #7E7E7E; font-size:15px">&gt; Working Projects</span></h1>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-9">

      <div id="active-works" class="container p-0 mb-4">
        <div id="" class="container">
          <div class="row">

            <div class="col p-0">

              <div class="bid-tab">

                <button  id="activeBtn" class="tablinks active" onclick="ActiveTab()"><i class="far fa-info-circle"></i> Active </button>
                <button id="completeBtn" class="tablinks" onclick="completeTab()"><i class="far fa-check-circle"></i> Completed</button>

              </div>

              {{! FIRST TAB }}

              <div id="activeTab">
                <!-- Project card 1 -->

                <table class="activeTab user-table w-100 display" id="table_id">
          <thead>
          <tr class="heading-row">
            <th id="id_heading">
              Due date:
            </th>
            <th>
              Title
            </th>
          </tr>
        </thead>
        <tbody>

          {{#each activePro}}
          <tr class="table-row">
            <td style="width:100px !important; white-space: initial;">
              <div> {{this.dueDate}}</div>
              <div class=" mt-2"><span class="t-bidCount" style="background-color:{{this.color}} !important;">{{this.days}} &nbsp;days</span></div>
            </td>
            <td>
              <div class="w-100">

                <div class="container">
                    <div class="row">
                        <div class="col-10">
                           <p class="mb-0 t-card-head">{{this.pheading}}</p> 
                           <p class="mb-0">Project Id: {{this._id}}</p> 
                        </div>
                        <div class="col-2">
                            <span style="color: rgba(143, 89, 18, 0.788); font-weight:600; font-size:19px">₹ {{this.bidAmount}}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col mt-3">
                        {{!-- <span class="t-saveCount ml-1"><i class="fal fa-heart"></i>&nbsp; <b>&nbsp;{{this.saveCount}}</b></span>            --}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col mt-3">
                        <a href="/projects?id={{this._id}}" class="t-viewBtn w-sm-100" style="float: right;">view details</a>          
                      </div>
                    </div>

                </div>
              </div>
              
            </td>
          </tr>

            <!-- Card ends here -->
        {{/each}}

        </tbody>
      </table>
      </div>


      {{!-- ///////// SECOND TAB //////// --}}

        <div id="completeTab">
        
        
                <table class="activeTab user-table w-100 display" id="complete_table_id">
          <thead>
          <tr class="heading-row">
            <th id="id_heading">
              Project Id:
            </th>
            <th>
              Title
            </th>
          </tr>
        </thead>
        <tbody>

          {{#each activePro}}
          <tr class="table-row">
            <td class="td-id" style="width:100px !important; white-space: initial;">
              {{this.dueDate}}
            </td>
            <td>
              <div class="w-100">

                <div class="container">
                    <div class="row">
                        <div class="col-10">
                           <p class="mb-0 t-card-head">XDHXFH</p> 
                        </div>
                        <div class="col-2">
                            <span style="color: rgba(143, 89, 18, 0.788); font-weight:600; font-size:19px">₹ {{this.amount}}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col mt-3">
                        <span class="t-bidCount"><i class="fal fa-user"></i>&nbsp; <b>{{this.bidCount}}</b> &nbsp;bids</span>
                        <span class="t-saveCount ml-1"><i class="fal fa-heart"></i>&nbsp; <b>&nbsp;{{this.saveCount}}</b></span>           
                      </div>
                    </div>

                    <div class="row">
                      <div class="col mt-3">
                        <a href="/bid-details?id={{this._id}}" class="t-viewBtn w-sm-100" style="float: right;">view details</a>          
                      </div>
                    </div>

                </div>
              </div>
              
            </td>
          </tr>

            <!-- Card ends here -->
        {{/each}}

        </tbody>
      </table>
        
        </div>



          
            </div>
          </div>


        </div>

      </div>

      {{! ///////////////////////////////////////////// }}



      <!-- Project card 1 -->

      {{!-- ///////////////////////////////////// bidded list //////////////////////////////////////// --}}


      {{!-- loading --}}

    <div id="loadingDiv" class="row p-3" style="display: none;">

      <p class="text-center w-100">Loading posted projects..</p>
      <div class="col d-flex justify-content-center">

        <div class="loader"></div>

      </div>
    
    </div>


      <div id="bidded-projects" class="container p-0 mb-4" style="display: none;">
        <div id="" class="container">
          <div class="row">
            

          <table class="activeTab user-table w-100 mt-0 display">
      
          <tbody id="bid-t-body">


          {{!-- <tr class="table-row">
            <td>
              <div class="w-100">

                <div class="container">
                    <div class="row">
                        <div class="col-10">
                           <p class="mb-0 t-card-head">Data collection and cleaning</p> 
                           <p class="mb-0">Data collection and cleaning</p> 
                        </div>
                        <div class="col-2 d-flex justify-content-center">
                            <span style="color: rgba(143, 89, 18, 0.788); font-weight:600; font-size:19px">₹ 500</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col mt-3">
                        <span class="t-bidCount"><i class="fal fa-user"></i>&nbsp; <b>250</b> &nbsp;bids</span>         
                      </div>
                    </div>

                    <div class="row">
                      <div class="col mt-3">
                        <a href="/bid-details?id={{this._id}}" class="t-viewBtn w-sm-100" style="float: right;">Remove</a>      
                        <a href="/bid-details?id={{this._id}}" class="t-viewBtn w-sm-100 mr-1" style="float: right;">view details</a>         
                      </div>
                      
                    </div>

                </div>
              </div>
              
            </td>
          </tr> --}}

            <!-- Card ends here -->


            
    

        </tbody>
      </table>


          </div>
        </div>

                
      </div>



      {{!-- ///////////////////////////////////////////////////////////////////////////////////////////////// --}}


    </div>



    <!-- SIDE BAR RIGHT -->

    <div class="col-md-3">

      <div class="holder project-contest sticky">

        <!-- Working On -->

        <div class="card card-custom proCard" style="width: 100%;">
          <div class="card-body">
            <p id="nameTxt">Hi {{name}},</p>
            <p id="wishTxt">Good Evening</p>

            <div class="w-100 d-flex justify-content-end"><a
                class="switchBtn"
                href="/hire-dashboard"
              >Switch to hire</a></div>
          </div>
        </div>

        <!-- Working On -->

        <div class="card card-custom" style="width: 100%;">
          <div class="d-flex w-100 justify-content-center pt-2">
            <h5 class="card-title" style="font-size: 16px; color: #7E7E7E;">Activities</h5>
          </div>
          <div class="line"></div>
          <div class="card-body p-0">

            <a href="#" onclick="hideBid(event)" class="home-cat-a"><div id="workingBtn" class="text-center pt-3 pb-3 active-cat">
               <span class="home-cat-btn"><i class="fal fa-briefcase mr-1"></i> Working Projects</span>
            </div></a>

            <hr class="m-0">
            <a href="#" onclick="loadBids(event)" class="home-cat-a"><div id="biddingBtn" class="text-center pt-3 pb-3">
              <span class="home-cat-btn"><i class="fal fa-clock mr-1"></i>Bidded Projects</span>
            </div></a>

        

          </div>
        </div>

      </div>

    </div>

  </div>
</div>



<script >

window.addEventListener('load', (event) => {

    document.getElementById("activeTab").style.display = "block";
    document.getElementById("completeTab").style.display = "none";
       
});

function ActiveTab() {
   
   document.getElementById("activeTab").style.display = "block";
   document.getElementById("completeTab").style.display = "none";
   document.getElementById("activeBtn").classList.add("active");
   document.getElementById("completeBtn").classList.remove("active");
   
}

function completeTab() {
    document.getElementById("completeTab").style.display = "block"
    document.getElementById("activeTab").style.display = "none";
    document.getElementById("activeBtn").classList.remove("active");
    document.getElementById("completeBtn").classList.add("active");
   // dataTableStyle("#complete_table_id_wrapper div:first-child")
}



 </script>



 