<div id="page-container">
   <div id="content-wrap">
       {{#if isHost}}{{>sec-nav-host}}{{else}}{{>sec-nav-worker}}{{/if}}
      <!-- Home starts -->
      <div class="container">


         <div class="row">
            <!-- SIDE BAR RIGHT -->
            <div class="col-lg-3" style="margin-top:20px">
               <div class="holder project-contest">
                  <!-- saved ends -->
                  <!-- FILTER -->
                  <div class="card card-custom " style="width: 100%;">
                     <div class="card-body">
                        <span class="filterHead"><i class="far fa-filter"></i>Filters</span>
                        <div class="line mt-2"></div>
                        <p class="subTitle mt-3 pColor">Skills type</p>
                        <!-- ///////////////  SEARCH SKILLS  ////////////////// -->
                        <div class="container p-0">
                           <div class="row  mt-2">
                              <form class="w-100" id="filterForm-freelance">
                                 <div class="container">
                                    <!-- SKILLS -->
                                    <div class="select-box">
                                       <div class="options-container active">
                                          {{#each skills}}
                                          <div class="option">
                                             <input type="checkbox" class="radio" id="{{this.code}}" name="skills" value={{this.code}} checked/>
                                             <label for="{{this.code}}">{{this.name}}</label>
                                          </div>
                                          {{/each}}
                                       </div>
                                       <div class="search-box">
                                          <input type="text" placeholder="Start Typing..." />
                                       </div>
                                    </div>
                                 </div>
                           </div>
                           <!-- SKILLS END -->
                           {{!-- REWARD --}}
                           <p class="subTitle mt-2 pColor">Reward Amount</p>
                           <div class="slidecontainer">
                           <input type="range" min="0" max="5" value="0" name="rating" class="slider w-100" id="myRange">
                           <p>Rating: <span id="demo"></span></p>
                           </div>
                           {{!-- END REWARD --}}
                           <button class="mt-2 w-100 applyBtn" type="submit" value="Submit">Apply</button>
                           </form>
                        </div>
                        <!-- ////////////////////////////////////// -->
                     </div>
                  </div>
                  <!-- Filter End -->
               </div>
            </div>
            <!-- SIDE BAR ENDS -->
            <div class="col-lg-9">
               <div class="container wrapper">
                  <h1 class="windowHeading"><i class="fas fa-list-ul"></i>Find freelancers</h1>
               </div>

               <div id="round-loader" class="container w-100 text-center" style="display:none"><div class="lds-ripple"><div></div><div></div></div></div>

               <div id="freelance-card-Holder" class="row">

                  {{#each workers}}
                  <div class="col-md-4">
                     <div class="our-team">
                        <div class="picture">
                           <img class="img-fluid" src="images/profile-pics/{{this.userId}}.jpg" onerror="this.src='images/site/default.jpg'" draggable="false" />
                        </div>
                        <div class="team-content" style="margin-bottom:0">
                           <h3 class="username">{{this.name}}</h3>
                        </div>
                        <div class="Stars" style="--rating: {{this.rating}};" aria-label="Rating of this product is 2.3 out of 5."></div>
                        <hr>
                        <div class="w-100 mt-2 d-flex justify-content-center">
                           <p class="mb-0"><span style="font-size: 14px;">{{this.email}}</span></p>
                        </div>
                 
                        <a class="btn-hire" href="#" data-toggle="modal" data-target="#freelancer-modal-{{this.userId}}">
                           <ul class="social w-100">
                              <li>View more</li>
                           </ul>
                        </a>
                     </div>
                  </div>


                  {{!-- MODAL --}}

                  <div class="modal fade send-request" id="freelancer-modal-{{this.userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLongTitle">Send Request</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                <form id="freelance-request-form-{{this.userId}}" method="post">
                                  <div class="container">
                                    <input type="hidden" name="userId" value="{{this.userId}}">
                                  <p><textarea class="variElem w-100" type="textarea" placeholder="Project heading here.." oninput="this.className = ''" name="pheading"></textarea></p>
       
                                  <p><textarea class="variElem w-100" placeholder="Describe project here.." oninput="this.className = ''" name="pdetails"></textarea></p>
                              
                                  <p><input type="date" id="dueDate" name="dueDate"  required></p>
                                  <p><input type="number" min="1" step="any" name="amount"/></p>
                                  <div class="rightButton mb-3 mt-2" style="float: right;">
                                      <input id="req-btn" type="submit" onclick="submitRequest('{{this.userId}}',event)" class="postBtn mx-0" value="Send request"/>
                                      <span id="req-load" style="display: none;" ><i class="fa fa-spinner fa-spin mr-2" style="font-size: 20px;"></i>Sending</span>
                                  </div>
                                  </div>
                              </form>
                              </div>
                           </div>
                        </div>
                     </div>

                  {{!-- END MODAL --}}
                  {{/each}}



               </div>
            </div>
            <!-- COLUMN 9 ends here -->
         </div>
      </div>
      <div id="snackbar"></div>
   </div>
</div>

{{!-- 
                  <div class="overlay-loader">
                     <div class="overlay__inner">
                        <div class="overlay__content"><span class="spinner-load"></span></div>
                     </div>
                  </div> --}}

                     



<script>
   var slider = document.getElementById("myRange");
   var output = document.getElementById("demo");
   output.innerHTML = slider.value;
   
   slider.oninput = function() {
     output.innerHTML = this.value;
   }
</script>