
  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/browse-project">Browse Project</a>
      {{!-- <a class="p-2" href="/">Browse Contest</a> --}}
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">$10</span>
    </div>

  </div>

  <!-- Home starts -->
 

    <div id="detailsCard" class="container mt-4">
      <div class="row">

        <div class="col-md-9">


          <!-- Project card 1 -->
          <div class="card card-custom" style="width: 100%">
            
            <!-- project heading -->
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">{{proDetails.pheading}}</span>
                    <p class="mb-0 detailsDate">Posted on: {{proDetails.dueDate}}</p>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end">
                    <span class="mr-md-3" style="font-weight: 900;">₹{{proDetails.amount}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- end heading -->

            <div class="line"></div>

            <!-- project heading -->
            <div class="card-body">
              <div class="container">
                  <p>{{proDetails.pdetails}}</p>

                  <div class="subTitle mb-2">Downloads:</div>
                  <a href="/download?file={{proDetails._id}}"><i class="far fa-paperclip mr-2"></i>{{proDetails._id}}.zip</a>
              </div>
            </div>

            <div class="line"></div>


            <div class="card-body">
              <div class="container">
                  
                <div class="row certification">
                  <div class="col-md d-flex justify-content-center cer">
                        <span><i class="far fa-star"></i><br>Featured Job</span>
                  </div>
                  <div class="col-md d-flex justify-content-center cer">
                      <span><span style="font-size: 18px; font-weight:700">{{proDetails.bidCount}}</span><br>People already bidded</span>
                  </div>
                  <div class="col-md d-flex justify-content-center cer">
                      <span><i class="far fa-shield-check"></i><br>Assured payment</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="line"></div>

            <div class="card-body">
              <div class="container">
                <div class="subTitle">Skills required</div>
                <div class="row pb-2">
                  <div class="skills-list pColor">

                      {{#each skills}}
                      <span>{{this.name}}</span>
                      {{/each}}
                
                  </div>
              </div>

              </div>
            </div>
            

          </div>

          <!-- Card ends here -->


        </div>

        <!-- SIDE BAR RIGHT -->

        <div class="col-md-3">

          <div class="holder project-contest sticky ">

            <!-- SUBMIT BUTTON -->

            <div class="card card-custom " style="width: 100%;">
              
              <div class="card-body">

                <div class="container d-flex justify-content-center p-0 mb-2">
                  <button id="submitBtn" class="pBtn w-100" href="#">SUBMIT PROPOSAL</button>
                </div>

                <div class="container d-flex justify-content-center p-0">
                  
                  {{#if proDetails.saved}}
                  <button id="save{{proDetails._id}}" class="saveBtn w-100 d-none" onclick="saveProject('{{proDetails._id}}')"><i class="far fa-heart pr-2"></i>SAVE JOB</button>
                  <button id="unsave{{proDetails._id}}" class="saveBtn w-100" onclick="unsaveProject('{{proDetails._id}}')"><i class="fas fa-heart pr-2"></i>SAVED JOB</button>
                  {{else}}
                  <button id="save{{proDetails._id}}" class="saveBtn w-100" onclick="saveProject('{{proDetails._id}}')"><i class="far fa-heart pr-2"></i>SAVE JOB</button>
                  <button id="unsave{{proDetails._id}}" class="saveBtn w-100 d-none"onclick="unsaveProject('{{proDetails._id}}')"><i class="fas fa-heart pr-2"></i>SAVED JOB</button>
                  {{/if}}

                </div>
                  

              </div>
            </div>

            <!-- HOST DETAILS -->
            
            <div class="card card-custom " style="width: 100%;">
              <div class="d-flex w-100 justify-content-center pt-2">
                <h5 class="card-title" style="font-size: 16px; color: #7E7E7E;">About client</h5>
              </div>
              <div class="line"></div>
              <div class="card-body">
                <div class="container client-details ml-2">

                  <span>{{hostDetails.name}}</span>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>

                  <div><i class="far fa-map-marker-alt mr-2 mb-3 mt-3"></i>{{hostDetails.country}}</div>
                  <div><i class="far fa-clipboard-check mr-2"></i>71 Jobs Posted</div>
                  <div><i class="far fa-shield-check mr-2" style="color:#00B548;"></i>Payment varified</div>
                  <div><i class="far fa-user-check mr-2"></i>Contacts varified</div>


                </div>
                  
              </div>
            </div>

          </div>


        </div>

      </div>
    </div>





    {{!-- //////////////////////////////// PROPOSAL FIELD /////////////////////////////////////////// --}}



    <div id="sendCard" class="container mt-4">
      <div class="row">

        <div class="col-md-9">


          <!-- Project card 1 -->
          <div class="card card-custom" style="width: 100%">
            
            <!-- project heading -->
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">{{proDetails.pheading}}</span>
                    

                      <div class="skills-list pColor" style="padding-left: 0px">

                      {{#each skills}}
                      <span>{{this.name}}</span>
                      {{/each}}
                
                      </div>

                  </div>
                  <div class="d-flex col-sm-4 justify-content-end">
                    Client's budget:<span class="mr-md-3" style="font-weight: 900;">&nbsp;₹{{proDetails.amount}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- end heading -->

            <div class="line"></div>

            <!-- project heading -->
            <div class="card-body">
              <div class="container">
                  
                  <div class="subTitle">Cover letter:</div>
                  <textarea id="coverTxt" class="submitTxt mt-2 p-2" style="width: 100%;" placeholder="Brief about your proposal.... Be genuine"></textarea>
                  <span id='remainingC'style="float:right;"></span>
              </div>
            </div>

            <div class="line"></div>


            <div class="card-body">
              <div class="container">
                  
                  <div class="subTitle"><i class="far fa-badge-percent mr-2"></i>Reward terms:</div>

                  <p class="mb-1 mt-3">Total reward for the project : <b>₹<span id="amountTxt">{{proDetails.amount}}</span></b></p>
                  <p class="mb-1">JobX fee (10%) : <b>₹<span id="comiTxt"></span></b></p>
                  <p class="mb-0">Estimated amount you'll receive : <b style="color: #008134; font-size:18px">₹<span id="estimateTxt"></span></b></p>

              </div>
            </div>



          </div>

          <!-- Card ends here -->


        </div>

        <!-- SIDE BAR RIGHT -->

        <div class="col-md-3">

          <div class="holder project-contest sticky ">

            <!-- SUBMIT BUTTON -->

            <div class="card card-custom " style="width: 100%;">
              
              <div class="card-body">

                <div class="container d-flex justify-content-center p-0 mb-2">
                  <button id="sendProBtn" class="pBtn w-100" onclick="sendProposal('{{proDetails._id}}','{{user._id}}','{{user.name}}','{{hostDetails._id}}')" >SEND PROPOSAL</button>
                </div>

                <div class="container d-flex justify-content-center p-0">
                  <button id="cancelBtn" class="saveBtn w-100">CANCEL</button>
                </div>
                  

              </div>
            </div>


          </div>


        </div>

      </div>
    </div>


   <div id="snackbar"></div>

