  <div class="container-fluid w-100">
    <div class="row whole">

      <!-- LEFT SIDE -->

      <div class="col-md-3 h-100 d-flex justify-content-center align-items-center left">
        
        <div class="container">
  
          
          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-stars" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">Proof of quality</span>
                <br>Check any pro’s work samples, client reviews, and identity verification.
            </div>
          </div>

          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-badge-dollar" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">No cost until you hire</span>
                <br>Interview potential fits for your job, negotiate rates, and only pay for work you approve.
            </div>
          </div>

          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-check-circle" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">Safe and secure</span>
                <br>Focus on your work knowing we help protect your data and privacy. We’re here with 24/7 support if you need it.
            </div>
          </div>
        
        </div>
      
      
      </div>

      <!-- RIGHT SIDE -->

      <div class="col-md-9 d-flex justify-content-center align-items-center right">
        
        <div class="container form-container p-5">

          <div class="row d-flex justify-content-center mb-2">
            <a href="/"><img src="images/site/logo-dark.svg"></a>
          </div>

 
          <div class="container">
              

              <div class="row login-form mt-4">
                <form class="w-100" action="/add-worker" method="post">


                    {{!-- User Data --}}
                  <div class="d-none">
                  <input type="text" name="name" value="{{userData.name}}">
                  <input type="text" name="email" value="{{userData.email}}">
                  <input type="text" name="password" value="{{userData.password}}">
                  <input type="text" name="country" value="{{userData.country}}">
                  <input type="text" name="phone" value="{{userData.phone}}">
                  <input type="text" name="userType" value="{{userData.userType}}">     
                  </div>
                  {{!-- Ends --}}

                  
                  
                


                      {{!--  --}}
     
                  
                  <!-- SKILLS -->

                  <div class="select-box">
                    <div class="options-container active">
                      
        
                    
                        {{#each skills}}

                            <div class="option">
                                <input type="checkbox" class="radio" id="{{this.code}}" value="{{this.code}}" name="skills" />
                                <label for="{{this.code}}">{{this.name}}</label>
                            </div>

                        {{/each}}
                      
                    
                    </div>
            
                    
            
                    <div class="search-box">
                      <input type="text" placeholder="Search skills" />
                    </div>
                  </div>
                </div>

                </div>
                <!-- SKILLS END -->



                  <button class="mt-4 w-100 submitBtn" type="submit" value="Submit">SUBMIT</button>
                
                  
                </form> 
              </div>

              
          </div>
        </div>
      </div>

      
    </div>
  </div>


<script>
    const selected = document.querySelector(".selected");
const optionsContainer = document.querySelector(".options-container");
const searchBox = document.querySelector(".search-box input");

const optionsList = document.querySelectorAll(".option");



optionsList.forEach(o => {
  o.addEventListener("click", () => {
  });
});

searchBox.addEventListener("keyup", function(e) {
  filterList(e.target.value);
});

const filterList = searchTerm => {
  searchTerm = searchTerm.toLowerCase();
  optionsList.forEach(option => {
    let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
    if (label.indexOf(searchTerm) != -1) {
      option.style.display = "block";
    } else {
      option.style.display = "none";
    }
  });
};
</script>
